# ===============================
# DATABASE CONFIGURATION
# ===============================

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=event_db
POSTGRES_HOST=database
POSTGRES_PORT=5432


# ===============================
# AWS LOCALSTACK CONFIGURATION
# ===============================

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566


# ===============================
# SNS & SQS CONFIGURATION
# ===============================

SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:notification-topic
SQS_QUEUE_URL=http://localstack:4566/000000000000/notification-queue
